<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="" class="navbar-brand">
        <!-- + font awesome + logi/name -->
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="" class="nav-link"></a>
        </li>
    </ul>
</nav>