

<div class="navbar row justify-space-between navbar-expand-lg navbar-light bg-light w-100">
    <a href="/" class="navbar-brand">
        <!-- + font awesome + logo/name -->
      <%- include("./logo"); %>
    </a>

</div>