<style>
  .logo-wrapper {
    height: 80px;
    font-size: 18px;
    line-height: 80px; 
  }
  .logo-image {
    height: 40px;
    line-height: 80px;
    width: 40px;
    margin-right: 10px;
  }
  .logo-text {
    text-decoration: none;
    color: #fff;
  }
</style>

<div class="logo-wrapper">
  <img src="assets/hot-wallet.svg" class="logo-image" alt="logo" />
  <a href="/" class="logo-text"> ETH WALLET </a>
</div>